@import 'tailwindcss';
@plugin "daisyui" {
    themes: light, dark;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../js/**/*.vue';

@font-face {
    font-family: 'Kantumruy Pro';
    src: url('../fonts/KantumruyPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Kantumruy Pro';
    src: url('../fonts/KantumruyPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Kantumruy Pro';
    src: url('../fonts/KantumruyPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Kantumruy Pro';
    src: url('../fonts/KantumruyPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@theme {
    --font-sans: 'Kantumruy Pro', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
